body {
	color: #111;
}

header,
footer {
	background-color: #b5c9c3;

}

h1 {
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: midnightblue;
}


nav ul {
	display: flex;
	justify-content: flex-end;
}

nav li {
	display: inline;
	padding: 10px;

}

.black-border {
	border: 5px dotted black;
}

.about-image {
	width: 250px
}


footer {
	font-size: 14px;
}